<!DOCTYPE html>

<html>
    <head>
        <title>Symptom Diagnosis chatbot</title>
    </head>

    <body>
        <div class="container">
            <h1>
                <center>Get a Diagnosis by entering your symptoms!</center>
            </h1>

            {% block content %}
            {% for message in form.number_symptoms.errors %}
            <div class = "flash">{{ message }}</div>
            {% endfor %}

            {% for message in form.symptoms.errors %}
            <div class = "flash" >{{ message }}</div>
            {% endfor %}

            <form method ="POST" class = "obj">
                
                {{ form.number_symptoms.label }}
                {{ form.number_symptoms }}

                {{ form.symptoms.label }}
                {{ form.symptoms }}

                {{ form.submit }}

            </form>

            {% endblock %}

        </div>
    </body>
</html>
