
.container {
    height: 200px;
    position: relative;
    border: 5px solid rgb(230, 86, 86);
}

#parent {
    display: table;
    width: 100%;
}

#input {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}