body {
    background-image: url("static/css/background-image.jpg");
    background-color: #cccccc; 
}

.container {
    height: 200px;
    position: relative;
    border: 3px solid rgb(84, 84, 231);
}

#parent {
    display: table;
    width: 100%;
}

#input {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}