<!DOCTYPE html>

<html>
    <head>
        <link rel = "stylesheet" href="{{ url_for('static', filename = 'css/styles.css')}}">
        <title>Symptom Diagnosis chatbot</title>
    </head>

    <body>
        <style>
            body {
                background-image: url('/static/background-image.jpg');
                background-size: cover;
                background-repeat: no-repeat;
            }
        </style>
        <div>
            <div class="container">
                <h1 style ="color:white; font-family: 'Open Sans', sans-serif">
                    <center>Sick? Enter your symptoms for a preliminary diagnosis.</center>
                </h1>

                {% block content %}


                {% for message in form.symptoms.errors %}
                <div class = "flash" >{{ message }}</div>
                {% endfor %}
                <div style = "text-align: center" id = "parent">
                    <form method ="POST" class = "obj" id = "input" style ="color:white; font-family: 'Open Sans', sans-serif">

                        {{ form.symptoms.label }}
                        {{ form.symptoms }}

                        {{ form.submit }}

                        <ul>
                            <a class = "link" style ="color:white; font-family: 'Open Sans', sans-serif; text-align: center; list-style: none;" href = "https://docs.google.com/document/d/1hKN9nP1B1Dgt2QX40gJr0Eiv1Hz0TwpButgtFL0Fzfk/edit?usp=sharing" target ="_blank"><p style = "text-align: center; list-style: none;"></p>Click here for the full list of supported diseases and symptoms.</a>
                        </ul>

                    </form>
                </div>
                {% endblock %}

            </div>
        </div>
    </body>
</html>
