<!DOCTYPE html>

<html>
    <head>
        <link rel = "stylesheet" href="{{ url_for('static', filename = 'css/styles.css')}}">
        <title>Symptom Diagnosis chatbot</title>
    </head>

    <body>
        <style>
            body {
                background-image: url('/static/background-image.jpg');
            }
        </style>
        <div>
            <div class="container">
                <h1 style ="color:white">
                    <center>Sick? Enter your symptoms for a preliminary diagnosis.</center>
                </h1>

                {% block content %}


                {% for message in form.symptoms.errors %}
                <div class = "flash">{{ message }}</div>
                {% endfor %}
                <div style = "text-align: center" id = "parent">
                    <form method ="POST" class = "obj" id = "input" style ="color:white">

                        {{ form.symptoms.label }}
                        {{ form.symptoms }}

                        {{ form.submit }}

                    </form>
                </div>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
